@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: LIGHTyellow;
    font-family: 'Original Surfer',
        cursive;
}

#heading {
    text-align: center;
    font-size: 4EM;
}

h1 {
    font-weight: bolder;
    font-size: 2EM;
}

.write-up {
    background-color: yellow;
    padding: 5% 10%;
    margin: 10% 20%;
    text-align: center;
    border-radius: 20PX;

}

.emoji-face {
    position: relative;
    background-color: whitesmoke;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 2px 0px 2px 2px, rgb(182, 133, 133);
    float: left;
    margin: 0px 20px 0px 0px;
}

.wrapper {
    position: absolute;
    top: 100px;
    left: 600px;
}

.emoji-face:hover {
    transform: scale(1.25);
}

.eye1 {
    position: absolute;
    background-color: rgb(116, 231, 231);
    height: 11px;
    width: 12px;
    border-radius: 50%;
    top: 30px;
    left: 20px;
}

.eye2 {
    position: absolute;
    background-color: rgb(99, 237, 247);
    height: 11px;
    width: 12px;
    border-radius: 50%;
    top: 30px;
    left: 70px;
}

.mouth {
    position: absolute;
    background-color: rgb(116, 231, 231);
    height: 34px;
    width: 70px;
    border-radius: 0px 0px 90px 90px;
    top: 52px;
    left: 16px;
    z-index: 1;
    overflow: hidden;

}

.tongue {
    position: absolute;
    background-color: rgb(238, 39, 122);
    height: 38px;
    width: 38px;
    border-radius: 40%;
    top: 20px;
    left: 15px;
    z-index: 2;
}

.mouth-shock {
    position: absolute;
    background-color: rgb(118, 204, 219);
    height: 25px;
    width: 23px;
    border-radius: 50%;
    top: 50px;
    left: 40px;
}

.mouth-speechless {
    position: absolute;
    background-color: rgb(100, 228, 211);
    height: 5px;
    width: 65px;
    top: 60px;
    left: 16px;
}